.profile__edit-button {
    border: 1px solid white;
    width: 18px;
    height: 18px;
    background-image: url('../../../images/edit-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    outline-width: 0;
}

@media screen and (min-width: 1024px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
    }
}