.cards__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 36px 0 48px;
    margin: 0;
}


@media screen and (min-width: 768px) {
    .cards__list {
        width: 581px;
        padding-top: 50px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .cards__list {
        width: 880px;
        justify-content: flex-start;
        margin: 0 auto;
    }
}