.popup__field {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    outline: none;
}